.bigred {
    color: rgb(223, 19, 32);
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  .bigblack {
    color: rgb(14, 14, 14);
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }